

  <div class="center">
       <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a routerLink="/employees" class="nav-link" data-toggle="tab" routerLinkActive="active">Etape 1</a>
    </li>
    <li class="nav-item">
        <a routerLink="/add" class="nav-link" data-toggle="tab" routerLinkActive="active">Etape 2</a>
    </li>
  </ul>
</div>

  
<!--</nav> -->

<div class="container">
  <br>
  <!--<h2 style="text-align: center;">{{title}}</h2>
  <hr>-->  
  <div class="card">
    <div class="card-body">
  <router-outlet></router-outlet>
    </div>
  </div>
</div>
<!--<footer class="footer">
  <div class="container">
      <span>All Rights 2022 @Marcele</span>
  </div>
</footer>-->