  <!-- <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
 -->
 <div><h2>Démo</h2></div>
 <hr> 

  <div class="center">

       <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a routerLink="/tableau" class="nav-link" data-toggle="tab" routerLinkActive="active">
          <span class="oi oi-graph"></span>

          Tableau</a>
    </li>
    <li class="nav-item">
        <a routerLink="/rss" class="nav-link" data-toggle="tab" routerLinkActive="active">
          <span class="oi oi-rss"></span>RSS</a>
    </li>
  </ul>
</div>

  
<!--</nav> -->

<div class="container">
  <br>
 
  <div class="card">
    <div class="card-body">
  <router-outlet></router-outlet>
    </div>
  </div>
</div>
