H2 { text-align: center }

.center {
    display: flex !important;
    justify-content: center !important;
  }

  .oi-graph {
    width: 30px !important;
    height: 30px !important;
  }

  .oi-rss  {
    width: 30px !important;
    height: 30px !important;
  }
 
 

  