<div class="center">
    <ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
     <a routerLink="/employees" class="nav-link" data-toggle="tab" routerLinkActive="active">Etape 1</a>
  </li>
  <li class="nav-item">
     <a routerLink="/graph" class="nav-link" data-toggle="tab" routerLinkActive="active">Etape 2</a>
  </li>
  </ul>
</div>
  <hr>
  

<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>120 Actif</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nom CI</th>
            <th>Email</th>
            <th>Statut</th>
            <th>Type</th>
            <th>valeur1</th>
            <th>valeur2</th>
            <th>Numéro Série/license</th>
            <th>Version</th>
            <th>Site</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees | async">
            <td>{{employee.id}}</td>
            <td>{{employee.lastName + " " + employee.firstName }}</td>
            <td>{{employee.emailId}}</td>
            <td>{{employee.statut}}</td>
            <td>{{employee.type}}</td>
            <td>{{employee.valeur1}}</td>
            <td>{{employee.valeur2}}</td>
            <td>{{employee.licence}}</td>
            <td>{{employee.version}}</td>
            <td>{{employee.site}}</td>
           
          </tr>
        </tbody>
      </table>
      
    </div>
</div>
<hr>

<div id="main-head" style="text-align:center">
  <form >
    <label for="cars">Statut:</label>
    <select name="cars" id="cars">
      <option click ="reloadData(0)" value="deploye">deploye</option>
      <option click ="reloadData(1)" value="en cours">en cours</option>
      <option click ="reloadData(2)" value="xxx">xxx</option>
    </select>
  </form>
  <div id="container"></div>
</div>